@import "tailwindcss";

@theme {
  --color-bg: rgba(237, 243, 244);
  --color-bg1: rgba(252, 246, 235);
  --color-text: rgb(44, 44, 44);
  --color-color1: rgba(18,113,255);
  --color-color2: rgba(221,74,25);
  --color-color3: rgba(180,220,255);
  --color-color4: rgba(164,130,168);
  --color-color5: rgba(180,180,50);
  --color-interactive: rgba(140, 100, 255);
  --font-display: "Inter", "sans-serif";

  @keyframes bounceLat {
    0%, 100% {
      transform: translateX(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}


.noise:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Cfilter id='noise' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3CfeBlend mode='screen'/%3E%3C/filter%3E%3Crect width='100' height='100' filter='url(%23noise)' opacity='0.5'/%3E%3C/svg%3E");
  mix-blend-mode: soft-light;
}
